.chat__wrapper {
    .main {
        .action__wrapper {
            --padding-x: 1rem;
            --padding-y: 1rem;

            position: relative;
            background: unset;
            padding: 0;


            .chat__action {
                display: flex;
                flex-direction: column;
                gap: var(--space-2);
                margin-inline: auto;
                max-width: 44rem;
                padding: var(--padding-y) var(--padding-x);
                border-radius: var(--radius-3) var(--radius-3) 0 0;
                background-color: var(--bg-color);
                transition: .6s;

                .initial & {
                    border-radius: var(--radius-3);

                    @media (width < 992px) {
                        margin-inline: var(--space);
                    }
                }

                .attachment__wrapper {

                    &:empty {
                        display: none;
                    }
                }

                .attachment__wrapper {
                    display: flex;
                    gap: var(--space);
                    flex-wrap: wrap;
                    max-height: 90px;
                    overflow-y: auto;
                    border-radius: var(--radius);

                    &:empty {
                        display: none;
                    }

                    .file-preview {
                        display: flex;
                        flex-direction: column;
                        gap: var(--space);
                        background-color: var(--surface-2-color);
                        border-radius: var(--radius);
                        padding: var(--space);
                        position: relative;
                        max-width: 150px;

                        .file-preview__image {
                            width: 100%;
                            height: 75px;
                            object-fit: cover;
                            border-radius: calc(var(--radius) - 2px);
                        }

                        &:has(.file-preview__image) {
                            padding: 0;

                            .file-info {
                                display: none;
                            }
                        }

                        .file-info {
                            display: flex;
                            flex-direction: column;
                            gap: var(--space);
                            font-size: 0.85rem;
                            min-width: 0;
                            padding-right: 2rem;

                            .file-name {
                                word-break: break-word;
                                font-weight: 500;
                                display: -webkit-box;
                                -webkit-line-clamp: 2;
                                -webkit-box-orient: vertical;
                                overflow: hidden;
                            }

                            .file-size {
                                opacity: 0.7;
                                font-size: 0.8rem;
                            }
                        }

                        .file-remove-btn {
                            position: absolute;
                            top: var(--space);
                            right: var(--space);
                            width: 24px;
                            height: 24px;
                            padding: 0;
                            border: none;
                            border-radius: 50%;
                            background-color: rgba(var(--color-rgb), 0.8);
                            color: var(--bg-color);
                            cursor: pointer;
                            display: flex;
                            align-items: center;
                            justify-content: center;
                            font-size: 1rem;
                            transition: background-color 0.2s;

                            &:hover {
                                background-color: rgba(var(--color-rgb), 1);
                            }
                        }
                    }
                }

                .chat__textarea {
                    --min-line: 1;
                    --max-line: 8;

                    padding: 0;
                    margin: 0;
                    border: none;
                    border-radius: 0;
                    font: inherit;
                    line-height: 1.5;
                    background-color: unset;
                    resize: none;
                    outline: none;
                    field-sizing: content;
                    min-block-size: calc(1lh * var(--min-line));
                    max-block-size: calc(1lh * var(--max-line));
                    white-space: pre-wrap;
                    overflow-wrap: anywhere;

                    &::placeholder {
                        color: inherit;
                        opacity: .6;
                    }

                    &:focus {
                        outline: none;
                    }
                }

                .bottom__wrapper {
                    display: flex;
                    align-items: end;
                    gap: var(--space);

                    .chat__button {
                        --padding-x: .5rem;
                        --padding-y: .5rem;

                        &:not(.send) {
                            --bg: var(--surface-3-color);
                        }

                        .icon {
                            fill: currentColor;
                            height: 1.15rem;
                            aspect-ratio: 1;
                            vertical-align: middle;
                        }

                        &.send {
                            margin-left: auto;
                            position: relative;

                            .icon {
                                scale: 1.5;
                            }

                            .generating & {

                                &::before {
                                    content: '';
                                    position: absolute;
                                    inset: .6rem;
                                    border-radius: .2rem;
                                    background-color: currentColor;
                                }
                            }
                        }
                    }
                }

                .offline &,
                &.disabled,
                &[disabled] {
                    opacity: .6;
                    pointer-events: none;
                }
            }

            .note {
                display: block;
                font-size: .8rem;
                text-align: center;
                opacity: .6;
                margin-top: var(--space);
                position: absolute;
                inset: 100% 0 0;
            }
        }
    }
}