@import url(modules/side_nav.css);
@import url(modules/window.css);
@import url(modules/action.css);
@import url(modules/setting.css);
@import url(modules/search.css);

.chat__wrapper {
    --sidebar-width: clamp(17rem,22.5vw, 20rem);

    height: 100dvh;
    display: grid;
    background-color: var(--surface-3-color);
    transition: grid-template-columns .6s;
    will-change: grid-template-columns;

    @media (width >=992px) {
        --sidebar-width: 0px;
        grid-template-columns: var(--sidebar-width) 1fr;

        &.sidebar-partial-close {
            --sidebar-width: 4rem;
        }

        &.sidebar-hover-open:not(.sidebar-partial-close) {
            --sidebar-width: 1px;
        }

        &.sidebar-open,
        &.sidebar-hover-open:has(.side__nav:hover) {
            --sidebar-width: clamp(17rem,22.5vw, 20rem) !important;
        }
    }

    .main {
        display: grid;
        grid-template-rows: var(--main-height, 1fr) max-content;
        gap: var(--space);
        background-color: var(--surface-3-color);
        overflow: clip;
        transition: grid-template-rows .6s;

        .initial & {
            --main-height: .7fr;
        }
    }

    .icon__btn {
        --padding-x: .6em;
        --padding-y: .6em;
        background-color: transparent;
        transition: background-color .3s;

        &:hover {
            background-color: var(--surface-color);
        }

        .icon {
            height: 1.15em;
        }
    }

    .icon {
        opacity: .8;
    }

    .scroll__container {
        scrollbar-color: rgba(var(--color-rgb), .15) transparent;
        position: absolute;
        inset: 0;
        overflow-y: auto;
        overscroll-behavior: contain;
    }

    .chat-backdrop {
        --backdrop-bg: rgba(var(--bg-color-rgb), .3);

        z-index: 1;

        @media (width >=992px) {
            display: none !important;
        }
    }

    .ui-backdrop {
        --backdrop-bg: rgba(var(--bg-color-rgb), .6);

        z-index: 3;
    }

    @media (aspect-ratio >=21/9) and (width >=2000px) {
        padding-inline: 15%;
    }

    @media (aspect-ratio >=32/9) and (width >=3000px) {
        padding-inline: 25%;
    }
}